<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>🐶 MySQL Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/index-fix.css" rel="stylesheet"/>

</head>
<body style="padding-top:50px;">
<!-- Nav Bar -->

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Tasks</a>
        </div>
    </div>
</div>

<!-- Body -->
<div class="container">
    <div class = "todoList">
        <form class="form-horizontal" role="form" th:action="@{/update}" th:object="${items}" method="POST">
            <table class="table table-bordered table-striped" id="todoItems">
                <thead>
                <h1>Java ToDo List 🐶 </h1>
        <hr/>
                <button type="submit" class ="clear">Clear Completed Items</button>
               </thead>
                <tbody>
                    <tr th:each="item,i : *{todoList}" th:class="${item.complete}? active : warning" >
                        <input type="hidden" th:field="*{todoList[__${i.index}__].id}"/>
                        <td><input type="checkbox" th:checked="${item.complete} == true" th:field="*{todoList[__${i.index}__].complete}"/></td>
                        <td th:text="${item.name}">Item_name</td><input type="hidden" th:field="*{todoList[__${i.index}__].name}"/>
                    </tr>
                </tbody>
            </table>
            <!-- Delete Button -->

        </form>
    </div>

    <hr/>

    <!-- Item Input Form -->
    <div class="todoForm">
        <form class="form-horizontal" role="form" th:action="@{/add}" th:object="${newitem}" method="POST">
            <div class="form-group">
                <!--<label for="inputItemName" class="col-sm-2">Task Name</label>-->
                <div class="col-sm-10">
                    <input type="text" th:field="*{name}" class="form-control" id="inputItemName" placeholder="Add New Item"/>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>



        </form>
    </div>

</div>

<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>-->
<!--<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/bootstrap.min.js"></script>-->

</body>
</html>